# MongoDB Connection
MONGODB_URI=mongodb+srv://mmc:0000@cluster0.nkx4tmg.mongodb.net/

# NextAuth Secret (Generate with `openssl rand -base64 32`)
NEXTAUTH_SECRET=changeme_to_a_secure_random_string
NEXTAUTH_URL=http://localhost:3000

# Cloudinary (Images)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=placeholder
CLOUDINARY_API_KEY=placeholder
CLOUDINARY_API_SECRET=placeholder
